.cart {
  background-color: #78c0c2;
margin-top: 0px;
padding: 20px;
font-size: 20px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}


.product span {
  font-size: 20vh;
}


button {
  font-size: 20px;
  background: none;
}