.todo {

    margin-top: 10px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


.todo-container {
    background: rgb(41, 33, 33);
    width: 40vw;
    margin-top: 10px;
    border-radius: 15px;
    padding: 20px 10px;
    color: white;
    border: 3px solid rgb(36, 110, 194);
}


.task {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.4em;
}

.task button {
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}